DISCORD_TOKEN=seu_token_aqui

# ID da sua aplicação (aba "General Information" no Developer Portal)
CLIENT_ID=seu_client_id_aqui

# ID do seu servidor (clique direito no servidor > Copiar ID)
GUILD_ID=seu_guild_id_aqui

# Preenchido automaticamente pelo docker-compose em produção
# Para rodar localmente sem Docker, preencha abaixo:
MONGODB_URI=mongodb://localhost:27017/botdiscord

NODE_ENV=development

# ID do usuário autorizado a usar comandos com bloqueio de user
AUTHORIZED_USER_ID=seu_user_id_aqui

CONVOCACAO_LOGO_URL=CONVOCACAO_LOGO_URL